@model WebApplication1.CourseSemester_MTM

@{
    ViewBag.Title = "Create";
}

<br>
<br>
<h2>Add Course</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <dl class="dl-horizontal">
                <dt>Batch</dt>
                <dd>@ViewBag.batch</dd>
                <dt>Semester</dt>
                <dd>@ViewBag.semester</dd>
            </dl>
        </div>
        <select id="selectCourse" name="CourseID" class="form-control" >
            <option></option>
        </select>
        <select name="SemesterID" class="form-control" style="display: none;">
            <option value="@ViewBag.semesterID">@ViewBag.semesterID</option>
        </select>
        <div class="form-group">
            <div class="col-md-10">
                <input @*id="btnCreate"*@ type="submit" value="Add Course" class="btn btn-default" />
            </div>
        </div>
        @{ if (ViewBag.color == "green")
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> @ViewBag.message
                </div>
            }
            else if (ViewBag.color == "red")
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> @ViewBag.message
                </div>
            }
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            getCourses();
        });
        $("#btnCreate").click(function () {
            window.location = "/Semester/Create?id=" + $("#Semester").val() + "&cid=" + $("#selectCourse option:selected").val();
        });

        function getCourses()
        {
            var d = {};
            d.url = '@Url.Action("LoadAllCourses", "Semester")';
            d.type = "POST";
            d.dataType = "json";
            d.contentType = "application/json";
            d.success = function (r) {
                $("#selectCourse").empty();
                $("#selectCourse").prepend("option value='' selected='selected'></option>");
                for (var i = 0; i < r.length; i++) {
                    $("#selectCourse").append('<option value="' + r[i].ID + '">' + r[i].Name + '</option>');
                }
            };
            $.ajax(d);
        }
    </script>
}
