@model IbmAdmissions2019.Models.StudentViewModels

<div>
    <h4>StudentViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatherCNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatherCNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.perAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.perAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.district)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.districtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.districtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cellNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cellNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.educationDetailFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.educationDetailFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.educationDetailFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.educationDetailFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstYrMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstYrMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstYrTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstYrTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bachEducationDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bachEducationDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bachMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bachMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bachTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bachTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trackingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trackingNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
