@model IEnumerable<IbmAdmissions2019.Models.BlockViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.BlockName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.RollNumberStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollNumberEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlockName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RollNumberStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RollNumberEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Directions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BlockId }) |
            @Html.ActionLink("Test Centers", "Index", "TestCenter", new { blockid = item.BlockId }, new { }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.BlockId })
        </td>
    </tr>
}

</table>
