@model WebApplication2.Models.Class1

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Class1</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<input type="checkbox" name="program_1" value="1" />
        <input type="checkbox" name="program_2" value="8" />
        <input type="checkbox" name<="program_3" value="5" />*@
   @Html.TextBoxFor(x=>x.data)
    @Html.ValidationMessageFor(x=>x.data)
    <select name="val" onchange="getVals()">
        <option value>select</option>
        <option value="1">First</option>
        <option value="2">Second</option>
    </select>
    <br />
    @Html.EditorFor(x => x.program)


    @Html.EditorFor(x => x.samples)

    <button onclick="addBtn" >Add</button>
    <div id="testId">
        @Html.EditorFor(x => x.Select)
    </div>
        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input name="button" type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function getVals() {
        document.forms[0].submit();

    }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function addBtn() {
        document.forms[0].submit();
    }
</script>