@model WebApplication1.Models.AttendanceViewModels

@{
    ViewBag.Title = "MarkAttendance";
}

<h2>MarkAttendance</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AttendanceViewModels</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BatchID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Batch" name="BatchID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.semester, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Semester" name="Semester" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.course, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Course" name="Course" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>

       

      

        <div class="form-group">
            @Html.LabelFor(model => model.AtdDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AtdDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AtdDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AtdStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AtdStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AtdStatus, "", new { @class = "text-danger" })
            </div>
        </div>

      
        

   

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        @if (ViewBag.ItemList!= null)
        {
            <div>
                @foreach (var item in ViewBag.ItemList)
                {
                    <input type="checkbox" id="Check_@item.PersonID" />@item.RegNo
                }
            </div>
        }
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function (e){
            var d = {};
            d.url = '@Url.Action("LoadBatches", "Attendance")';
            d.type = "POST";
            d.dataType = "json";
            d.contentType = "application/json";
            d.success = function (r) {
                $("#Batch").empty();
               // $("#Batch").prepend("option value='-1' selected='selected'>Please Select a Batch</option>");
                $("#Batch").prepend("option value='' selected='selected'></option>");
                for (var i = 0; i < r.length; i++) {
                    $("#Batch").append('<option value="' + r[i].ID + '">' + r[i].Name + '</option>');
                }
            };
            $.ajax(d);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Batch").change(function () {
                debugger;
                event.preventDefault();
                var selectedValue = $("#Batch").select();
                var $url = '/Attendance/LoadSemester';
                //alert($url);

                $.ajax({
                    url: $url,
                    type: 'POST',
                    datatype: "json",
                    data: "Item=" + $("#Batch option:selected").val(),
                    success: function (r) {
                        $("#Semester").empty();
                        $("#Semester").prepend("option value='' selected='selected'></option>");
                        for (var i = 0; i < r.length; i++) {
                            $("#Semester").append('<option value="' + r[i].ID + '">' + r[i].Name + '</option>');
                        }
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Semester").change(function () {
                debugger;
                event.preventDefault();
                var selectedValue = $("#Semester").select();
                var $url = '/Attendance/LoadCourse';
                //alert($url);

                $.ajax({
                    url: $url,
                    type: 'POST',
                    datatype: "json",
                    data: "Item=" + $("#Semester option:selected").val(),
                    success: function (r) {
                        $("#Course").empty();
                        $("#Course").prepend("option value='' selected='selected'></option>");
                        for (var i = 0; i < r.length; i++) {
                            $("#Course").append('<option value="' + r[i].ID + '">' + r[i].Name + '</option>');
                        }
                    }
                });
            });
        });
    </script>


}
